<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation email</title>
</head>

<body>
  <h1>Hello {{ firstName }} {{ lastName }} !</h1>
  <p>Please go to
    <a href="{{ resetPasswordUrl }}">here</a>
    to reset your password.</p>
</body>

</html>
